@import "./common/_reset";
@import "./common/_vars";
@import "./common/_mixins";
body{
  font-family: 'roboto condensed','PingFang SC',"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",sans-serif;
  color: $font-color;
  padding-bottom: 20px;
}

.tab-box {
  width: 1120px;
  margin: auto;
  margin-top: 30px;
  .nav-tabs {
    width: 330px;
    height: 36px;
    margin: auto;
    li {
      float: left;
      width: 160px;
      height: 36px;
      background: #e5e5e5;
      border-radius: 4px;
      margin-left: 10px;
      &:first-child{
        margin-left: -10px;
      }
      a {
        font-size: 14px;
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #4c4c4c;
        cursor: pointer;
        @include v-middle(36px);
      }
      &.active {
        background: #f36121;
        a {
          color: #FFFFFF;
        }
      }
    }
  }
  .tab-content {
    clear: both;
    width: 1120px;
    margin-top: 50px;
    .tab-pane {
      width: 100%;
      display: none;
      &.active {
        display: block;
      }
    }

  }
}


.header  {
  position: absolute;
  top: 0px;
  padding-top: 30px;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  z-index: 100;
  .nav-child {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    .nav-item {
      position: relative;
      display: inline-block;
      font-size: 18px;
      padding: 10px 25px;
      vertical-align: middle;
      span{
        color: #ffffff;
        text-shadow: 0 1px rgba(0,0,0,0.2);
        padding-bottom: 2px;
        &:hover{
          border-bottom: 2px solid #f46021;
        }
      }
    }
  }
  .left-nav {
    width: 40%;
    text-align: right;
  }
  .right-nav {
    width: 40%;
    text-align: left;
  }
  .mid-nav {
    max-width: 15%;
    min-width: 110px;
    padding: 0 1.25%;
    margin: 0 1.25%;
    text-align: center;
    img {
      width: 80px;
      height: 80px;
      margin: auto;
    }
    .title{
      min-width: 110px;
      text-align: center;
      color: #ffffff;
      font-weight: bolder;
    }
  }
}
main{
  .section-bg{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-position: 50% 50%;
    background-image: url(/img/top-bg.png);
    padding-top: 400px;
    padding-bottom: 280px;
    .color-bg{
      position: absolute;
      background: rgba(0,0,0,.5);
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
    }
    .content{
      width: 100%;
      position: absolute;
      z-index: 100;
      text-align: center;
      top: 289px;
      h1{
        font-size: 50px;
      }
      p{
        padding-bottom: 37px;
        font-size: 18px;
        padding-top: 48px;
      }
      a{
        width: 180px;
        height: 70px;
        font-size:24px;
        font-weight: bolder;
        background-color: $color-orange;
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
        color:$font-color;
        border-radius: 4px;
        margin: auto;
      }
    }
  }
  .section-intro{
    position: relative;
    background-color: #f4f4f4;
    height: 450px;
    .bg{
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-color: rgba(0, 0, 0, 0);
      background-position: center center;
      background-image: url(/img/wetodo.png);
    }
    h1{
      text-align: center;
      color: #1a1a1a;
      font-weight: bolder;
      padding-top: 89px;
      font-size: 36px;
    }
    h3{
      text-align: center;
      padding-top: 20px;
      color:#f46021;
      font-size: 24px;
    }
    .intro{
      position: relative;
      width: 1085px;
      margin: auto;
      margin-top: 80px;
      img{
        width: 121px;
        height: 121px;
        float: left;
        margin-right: 20px;
      } 
      p{
        font-size: 24px;
        color: #4d4d4d;
        text-indent: 24px;
        line-height: 40px;
        span{
          color: #4d4d4d;
          font-weight: bolder;
        }
      }
    }
  }
  .section-solve,.section-product{
    height: 660px;
    padding-top: 50px;
    text-align: center;
    h1{
      color: #1a1a1a;
      margin: auto;
    }
    .sub{
      color: #808080;
      margin: auto;
      padding-top: 30px;
      font-size: 18px;
    }
    .line{
      position: relative;
      width: 280px;
      margin: auto;
      height: 2px;
      background: #cccccc;
      .line-m{
        position: absolute;
        left: 100px;
        top: -1px;
        display: block;
        height: 4px;
        width: 80px;
        background: #f46021;
      }
    }
  }
  .section-product{
    .products{
      margin: auto;
      margin-top: 50px;
      width: 1200px;
      li {
        float: left;
        display: block;
        border: 1px solid #cdcdcd;
        width: 231px;
        height: 360px;
        margin-left: -1px;
        &.max{
          width: 510px;
        }
      }
      .item{
          text-align: center;
          font-size: 12px;
          .child-item{
            width: 255px;
            float: left;
            &.text-info{
              font-size: 14px;
              p{color: #4d4d4d;}
              dt{
                position: relative;
                padding-top: 5px;
                color: #4d4d4d;
                &:before{
                  display: block;
                  position: absolute;
                  content: "";
                  left: -10px;
                  top: 13px;
                  width: 4px;
                  height: 4px;
                  border-radius: 100%;
                  background: #4d4d4d;
                }
              }
              dd{
                padding-top: 5px;
                color: #808080;
              }
            }
          }
          .text-info{
            width: 253px;
            height: 210px;
            float: right;
            border-left: 1px solid #cbcbcb;
            font-size: 14px;
            text-align: left;
            padding-left: 26px;
            p{
              color: #808080;
            }
          }
          .intro{
            padding-top: 20px;
            color: #808080;
            padding-bottom: 35px;
          }
          h3{
            font-size: 20px;
            color: #f46021;
            padding-bottom: 45px;
          }
          img{
            width: 80px;
            height: 80px;
            margin: auto;
            margin-bottom: 40px;
          }
          .desc{
            margin: auto;
            text-align: center;
            color: #808080;
            margin-top: 40px;
            width: 143px;
          }
        }
    }
  }
  .section-solve{
    position: relative;
    clear: both;
    height: 660px;
    background: #f5f5f5;
    .bg{
      position: absolute;
      top: 0px;
      height: 260px;
      width: 100%;
      text-align: center;
      content: "solve";
      font-family: "Arial Black";
      font-weight: bolder;
      font-size: 330px;
      color: rgba(255, 255, 255, 0.5);
      line-height: 240px;
      vertical-align: top;
      text-transform: full-width;
    }
    .content{
      position: absolute;
      left: 0px;
      top: 0px;
      padding-top: 50px;
      width: 100%;
      height: 100%;
    }
  }
  .saas,.bigdata{
    width: 1000px;
    height: 300px;
    li{
      width: 200px;
      height: 300px;
      float: left;
      text-align: center;
      box-sizing: border-box;
      position: relative;
      &:hover{
        .pop{
          display: block;  
        }
      }
    }
  }
  .saas{
    .tag{
      display: block;
      width: 80px;
      height: 80px;
      border: 1px solid #f46021;
      font-size: 30px;
      text-transform: uppercase;
      font-family: "Helvetica Neue Thin";
      text-align: center;
      color: #f46021;
      border-radius: 100%;
      @include v-middle(80px);
      margin: auto;
      margin-top: 85px;
    }
    .name{
      display: block;
      font-size: 20px;
      color: #808080;
      margin-top: 28px;
    }
  }
  .saas{
    .pop{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #FFFFFF;
      box-shadow:0 0 20px 2px rgba(244,96,33,.3);
      .tag{
        margin-top: 44px;
        background:#f46021 ;
        color: #FFFFFF;
      }
      .name{
        color: #4d4d4d;
      }
      .desc{
        color: #808080;
        font-size: 14px;
        margin-top: 28px;
        width: 100%;
        display: block;
        &:last-child{
          margin-top: 0px;
        }
      }
    }
  }
  .bigdata{
    width: 1120px;
    li{
      margin-left: 29px;
      &:first-child{
        margin-left: 0px;
      }
    }
    .tag{
      display: block;
      width: 200px;
      height: 120px;
      background: #ffffff;
      text-align: center;
      @include v-middle(120px);
      font-size: 30px;
      color: #f46021;
      font-weight: bolder;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      margin-top: 90px;
      font-family:'微软雅黑';
      &:hover + .pop{
        display: block;
      }
    }
    .pop {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #FFFFFF;
      box-shadow: 0 0 20px 2px rgba(244, 96, 33, .3);
      &:hover{
        display: block;
      }
      .tag{
        position: absolute;
        top: 0;
        height: 120px;
        border-radius: 8px 8px 0px 0px;
        background: #f46021;
        color: #FFFFFF;
        margin-top: 0px;
      }
      .desc{
        position: absolute;
        left: 0px;
        bottom: 40px;
        font-size: 14px;
        width: 100%;
        margin: auto;
        margin-top: 40px;
        color: #808080;
        padding: 30px;
      }
    }
  }
  .section-culture{
    width: 100%;
    height: 786px;
    position: relative;
    background: #eb6000;
    background: -moz-linear-gradient(left, #eb6000 0%, #eb6000 50%,#ffffff 50%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #eb6000 0%,#eb6000 50%,#ffffff 50%,#ffffff 100%);
    background: linear-gradient(to right, #eb6000 0%,#eb6000 50%,#ffffff 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb6000', endColorstr='#ffffff',GradientType=1 );
    .logo-border{
      width: 300px;
      height: 300px;
      position: absolute;
      left:50%;
      margin-left: -150px;
      top: 50%;
      margin-top: -150px;
    }
    .title-l,.title-r{
      font-size: 32px;
      font-family: 'Microsoft YaHei';
      position: absolute;
      top: 52px;
      width: 140px;
      left: 50%;
      padding-bottom: 31px;
      border-bottom: 2px solid #eb6000;
    }
    .title-l{
      color: #FFFFFF;
      margin-left: -140px;
      text-align: right;
      border-bottom-color:#FFFFFF;
    }
    .title-r{
      text-align: left;
      color:#eb6000 ;
    }
    .base,.user{
      position: absolute;
      font-family: "Arial Black";
      font-size: 200px;
      text-transform: uppercase;
    }
    .base{
      color: rgba(255,255,255,.1);
      left: 50%;
      bottom: 100px;
      transform: translatex(-100%);
    }
    .user{
      color: rgba(244,96,33,.1);
      left: 50%;
      top: 100px;
    }
    .base-text-cn,.user-text-cn{
      position: absolute;
       font-size: 48px;
    }
    .base-text-en,.user-text-en{
      position: absolute;
      font-family: 'Helvetica Light';
      font-size: 30px;
      margin-top: 90px;
    }
    .base-text-cn,.base-text-en{
      color: #FFFFFF;
    }
    .user-text-cn,.user-text-en{
      color: #f46021;
    }
    .base-text-cn,.base-text-en{
       top: 245px;
       left: 50%;
       transform: translatex(-520px);
    }
    .user-text-cn,.user-text-en{
      top: 424px;
      left: 50%;
      margin-left: 330px;
    }
  }
}
footer{
  position: relative;
  height: 357px;
  background: #4c4c4c;
  width: 100%;
  .title{
    margin: auto;
    width: 280px;
    text-align: center;
    border-bottom: 1px solid #a6a6a6;
    font-size: 32px;
    padding-bottom: 30px;
    padding-top: 50px;
  }
  .content{
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 140px;
    border-bottom: 1px solid #a4a4a4;
    margin-top: 50px;
    padding-bottom: 50px;
    .right{
      position: absolute;
      left: 50%;
      border-left: 1px solid #a4a4a4;
      padding-left: 20px;
      margin-left: -1px;
      height: 90px;
      span{
        display: block;
        text-align: left;
        padding-bottom: 10px;
        font-size: 16px;
      }
    }
    .left{
      position: absolute;
      height: 90px;
      left: 50%;
      transform: translatex(-100%);
      img{
        float: left;
        width: 90px;
        height: 90px;
        margin-right: 10px;
      }
      .name{
        margin-right: 20px;
      }
      a{
        display: block;
        width: 160px;
        height: 40px;
        border: 1px solid #fff;
        font-size: 18px;
        margin-top: 10px;
        margin-left: 170px;
        text-align: center;
        line-height: 40px;
        border-radius: 4px;
      }
    }
  }
  .copyright{
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
  }
  
}